.weatherInfo{
    height: 300px;
    width: 200px;
}

.forcast{
    display:flex;
    justify-content: center;

}

.datef{
    border: solid 4px black
}

/* .card{
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
} */
.icon{
    width: 15vh;
}

.currentWeather{
    display: flex;

}
